
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#circle{
    border: 2px solid rgb(142, 139, 139);
    height: 200vh;
    width: 200vh;
    border-radius: 50%;
    /* background-color: rebeccapurple; */
    position: absolute;
    top: 50%;
    left: -100vh;
    transform: translate(0%, -50%) rotate(120deg);
}

.strip{
    /* background-color: red; */
    height: 60px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);
    transform-origin: 0% 50%;
    display: flex;
    flex-direction: row;
}
.rod-2{
    transform: translate(0%, -50%) rotate(-10deg);
}
.rod-3{
    transform: translate(0%, -50%) rotate(-20deg);
}
/* .rod-1{
    transform: translate(0%, -50%) rotate(0deg);
} */
.rod-4{
    transform: translate(0%, -50%) rotate(10deg);
}
.rod-5{
    transform: translate(0%, -50%) rotate(20deg);
}

.first-box{
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: gray; */
}
.second-box{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    font-family: 'Libre Baskerville', serif;;
}

.second-box h3{
    font-size: 2vw;
    font-weight: 5000;
    opacity: 0.3;
}
.second-box h6{
    font-size: 1vw;
    opacity: .5;
    font-weight: 2000;
    opacity: 0.3;
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(109, 107, 107);
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, 0%);
    /* margin-right: 1%; */
}
.pannel{
    position: absolute;
    top: 50%;
    right: 4%;
}
.navigator{
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(142, 139, 139);
    margin-top: 60%;
    opacity: 0.3;
}